
<div class="contactPop" style="display:none !important;">
  <div class="formPop">
    <div id="social-wrap">
      <div class="text">Contact Now</div>
    </div>
    <div class="form-scroll">
      <i class="fa fa-times-circle close"></i>
      <h2>Get your CONFIDENTIAL consultation</h2>
      <p>Our experienced tax law team can help.</p>
      <form onsubmit="return checkData(this)" method="post" action="#" id="contactForm" name="contactForm">
        <p class="contlab"><i class="fa fa-user"></i> Name</p>
        <input name="name" id="name" type="text" placeholder="" class="name"><br />
        <p class="contlab"><i class="fa fa-envelope"></i> Email</p>
        <input name="email" id="email" type="text" placeholder="" class="email"><br />
        <p class="contlab"><i class="fa fa-phone"></i> Phone</p>
        <input name="phone" id="phone" type="text" placeholder="" class="phone">
        <p class="contlab"><i class="fa fa-pencil"></i> Comments/Questions</p>
        <textarea name="comments"></textarea>
        <br class="clear" />
        <button type="submit" value="" class="submit">Yes, I want a Confidential Consultation</button>
        <br class="clear" />
      </form>
    </div>
  </div>
</div>
    <header class="header">
        <div class="top-area">
            <div class="container group">
                <div class="left">
                    <h2>Experienced Tax Attorneys</h2>
                    <div class="social">
                        <ul>
                            <li><a href="http://www.facebook.com/pages/" class="facebook" target="_blank"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="http://twitter.com/" target="_blank"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="https://plus.google.com/+" target="_blank"><i class="fa fa-google-plus"></i></a></li>
                            <li><a href="http://www.linkedin.com/company/t" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="http://www.youtube.com/user/" target="_blank"><i class="fa fa-youtube"></i></a></li>
                            <li class="translator"><a href="#" class="translator-button"><i class="fa fa-language"></i></a>
                                <div id="translator">
                                  <div id="google_translate_element"></div>
                                    <script type="text/javascript" src="{echo CDN}js/custom_style.js"></script>
                                    <script type="text/javascript" src="{echo CDN}js/element.js"></script>
                                </div>
                                </li>
                            </ul>
                            <br class="clear">
                        </div>
                        <br class="clear">
                    </div>
                    <div class="right">
                        <h2 class="animated pulse">Call Us Confidentially Now: <a href="tel:2023494033"><span class="phone">202-349-4033</span></a></h2>
                        <div class="top-search">
                            <div id="sb-search" class="sb-search">
                                <form method="get" action="/blog/search/">
                                    <input class="sb-search-input placeholder" placeholder="Search" value="Search" name="searchTerm" id="search" type="search">
                                    <input class="sb-search-submit" value="" type="submit">
                                    <span class="sb-icon-search"><i class="fa fa-search"></i></span>
                                </form>
                            </div>
                        </div>
                        <br class="clear">
                    </div>
                    <div class="header-cta">
                        <p itemscope="" itemtype="#">Call us confidentially now:<br><strong><span itemprop="telephone">202-349-4033</span></strong></p>
                    </div>
                    <br class="clear">
                </div>
            </div>

            <div class="top-area-sticky" style="display: none; opacity: 1; top: 0px;">
                <div class="container group">
                    <div class="left">
                        <h2>Experienced Tax Attorneys</h2>
                        <div class="social">
                            <ul>
                                <li><a href="http://www.facebook.com/pages/Thorn-Law-Group-PLLC/262254867120791" class="facebook" target="_blank"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="http://twitter.com/ThornTaxDC" target="_blank"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="https://plus.google.com/+Thorntaxlaw/about" target="_blank"><i class="fa fa-google-plus"></i></a></li>
                                <li><a href="http://www.linkedin.com/company/thorn-law-group-pllc" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                                <li><a href="http://www.youtube.com/user/ThornTaxLaw?feature=watch" target="_blank"><i class="fa fa-youtube"></i></a></li>
                                <li><a href="#translator" class="inline cboxElement"><i class="fa fa-language"></i></a></li>
                            </ul>
                            <br class="clear">
                        </div>
                        <br class="clear">
                    </div>
                    <a href="http://www.thorntaxlaw.com/" class="sticky-logo"><img src="{echo CDN}images/layout/sticky-logo.jpg" alt=""></a>
                    <div class="right">
                        <h2 class="animated pulse">Call Us Confidentially Now: <a href="tel:2023494033"><span class="phone">202-349-4033</span></a></h2>
                        <div class="top-search">
                            <div id="sb-search-sticky" class="sb-search">
                                <form method="get" action="/blog/search/">
                                    <input class="sb-search-input placeholder" placeholder="Search" value="Search" name="searchTerm" id="search" type="search">
                                    <input class="sb-search-submit" value="" type="submit">
                                    <span class="sb-icon-search"><i class="fa fa-search"></i></span>
                                </form>
                            </div>
                        </div>
                        <br class="clear">
                    </div>
                    <div class="header-cta">
                        <p itemscope="" itemtype="http://schema.org/Attorney">Call us confidentially now:<br><strong><span itemprop="telephone">202-349-4033</span></strong></p>
                    </div>
                    <br class="clear">
                </div>
            </div>
            <div class="container">
                <div class="logo">
                    <div class="white-space"></div>
                    <a href="http://www.thorntaxlaw.com/">Thorn Law Group</a>
                </div>
                <div class="menu">
                    <div class="left">
                        <ul>
                            <li class="first"><a href="/home">Home</a></li>
                            <li><a href="/firm-overview">Firm Overview</a></li>
                            <li><a href="/professionals">Professionals</a></li>
                        </ul>
                    </div>
                    <div class="right">
                        <ul>
                            <li><a href="/practice-areas">Practice Areas</a></li>
                            <li><a href="/blogs">News &amp; Events</a></li>
                            <li class="last"><a href="/contact">Contact</a></li>
                        </ul>
                    </div>
                    <br class="clear">
                </div>
            </div>
    </header>
        <nav class="navigation">
            <div class="container">
                <ul>
                    <li class="first"><a href="/practices/business-tax-law">Business<br>Tax Law</a></li>
                    <li><a href="/practices/criminal-tax-law">Criminal<br>Tax Law</a></li>
                    <li><a href="/practices/international-tax">International<br> Tax</a></li>
                    <li><a href="/practices/irs-audits-litigation">IRS Audits<br>&amp; Litigation</a></li>
                    <li><a href="/practices/offshore-bank-accounts">Offshore<br> Bank Accounts</a></li>
                    <li class="last"><a href="/practices/wealth-estate-planning/">Wealth &amp;<br> Estate Planning</a></li>
                </ul>
                <br class="clear">
            </div>
        </nav>
        <nav id="mobile-only" class="navigation">
            <ul>
                <li class="first"><a href="/home">Home</a></li>
                <li><a href="/firm-overview">Firm Overview</a></li>
                <li><a href="/attorneys">Professionals</a></li>
                <li><a href="/practices-areas">Practice Areas</a></li>
                <li><a href="/practices/business-tax-law">Business Tax Law</a></li>
                <li><a href="/practices/criminal-tax-law">Criminal Tax Law</a></li>
                <li><a href="/practices/international-tax">International Tax</a></li>
                <li><a href="/practices/irs-audits-litigation">IRS Audits &amp; Litigation</a></li>
                <li><a href="/practices/offshore-bank-accounts">Offshore Bank Accounts</a></li>
                <li><a href="/practices/wealth-estate-planning">Wealth &amp; Estate Planning</a></li>
                <li><a href="/blog">News &amp; Events</a></li>
                <li class="last"><a href="/contact">Contact</a></li>
            </ul>
        </nav>
      <nav id="mobile-menu">
  <div class="mobile-phone"><a href="tel:+919990166950"><i class="fa fa-phone"></i></a></div>
</nav>