<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Template</title>
        <link rel="stylesheet" href="{echo CDN}admin/css/style.default.css" type="text/css" />
        <script type="text/javascript" src="{echo CDN}admin/js/jquery-1.9.1.min.js"></script>
        <script type="text/javascript" src="{echo CDN}admin/js/jquery-migrate-1.1.1.min.js"></script>
    </head>
    <body class="loginbody">
        {ayield action}
        <script type="text/javascript" src="{echo CDN}admin/js/login.js"></script>
    </body>
</html>