<!DOCTYPE html>
<!--[if lte IE 8]> <html class="oldie" lang="en"> <![endif]-->
<!--[if IE 9]> <html class="ie9" lang="en"> <![endif]-->
<!--[if gt IE 9]><!-->
<html style="height: 100%;" lang="en"><!--<![endif]--><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<script src="{echo CDN}js/ga.js" async="" type="text/javascript"></script>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,initial-scale=1.0">
<meta name="google-translate-customization" content="792c1758be6aaed0-bf79acdf0df6f893-g2531720568b113e3-14">
<title>Law Firm</title>
<meta name="description" content="At Thorn Law Group, you will find a Washington DC tax attorney who can provide advantageous solutions to tax disputes around the globe.">
<link rel="canonical" href="www.xyz.com">
<link rel="icon" href="" type="image/x-icon">
<link href="http://fonts.googleapis.com/css?family=Raleway:400,700,600,500,300,200,100,900,800|Noto+Serif:400,400italic,700,700italic" rel="stylesheet" type="text/css">
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

<link rel="stylesheet" media="all" href="{echo CDN}css/style.css">
<link rel="stylesheet" media="all" href="{echo CDN}css/animate.css">
<link rel="publisher" href="https://plus.google.com/profile">
<meta name="google-site-verification" content="">
<meta property="og:title" content="">
<meta property="og:type" content="website">
<meta property="og:url" content="http://www.xyz.com/">
<meta property="og:image" content="{echo CDN}images/layout/og-image.png">
<meta property="og:description" content="Thorn Law Group is an experienced international tax litigation firm focused on representing our client's tax controversy issues. Call (202) 349-4033!">
<script type="text/javascript" src="{echo CDN}js/jquery_002.js"></script>
<!--[if lt IE 9]>
<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
<link href="{echo CDN}css/translateelement.css" charset="UTF-8" rel="stylesheet" type="text/css">
<script src="{echo CDN}js/main.js" charset="UTF-8" type="text/javascript"></script>
<script src="{echo CDN}js/element_main.js" charset="UTF-8" type="text/javascript"></script>
<script src="{echo CDN}js/jquery_003.js"></script>
</head>

<body class="home">

    {include layouts/navigation/header.html}
    {ayield action}
    {include layouts/navigation/footer.html}

</body>

</html>
