<div class="top-background" style="background-image: url('/images/photos/_default.jpg');">
    <div class="container caption-1 all-slogan">
        <div class="slogan clearfix slogin-place">
            <h2>Confidential & Experienced Tax Lawyers</h2>
            <a href="/contact/">Get Help Now: 202-349-4033</a>
        </div>
    </div>
</div>
<div class="content group">
    <div class="container group">
        <div class="main left">
            <h1>Contact Us</h1>     <h2>Please call <a href="tel:2023494033"><span class="phone">202-349-4033</span></a> or fill out the form below</h2>
            <div class="contact">
                <form onsubmit="return checkData(this)" method="post" action="/sendmail.php" id="contactForm" name="contactForm">
                    <p class="contlab"><i class="fa fa-user"></i> Name</p>
                    <input name="name" id="name" type="text" placeholder="" class="name"><br />
                    <br class="clear" />
                    <p class="contlab"><i class="fa fa-envelope"></i> Email</p>
                    <input name="email" id="email" type="text" placeholder="" class="email"><br />
                    <br class="clear" />
                    <p class="contlab"><i class="fa fa-phone"></i> Phone</p>
                    <input name="phone" id="phone" type="text" placeholder="" class="phone"><br />
                    <br class="clear" />
                    <p class="contlab"><i class="fa fa-question-circle"></i> What is 2 + 2?</p>
                    <input name="checker" id="checker" type="text" placeholder="" class="checker">
                    <br class="clear" />
                    <p class="contlab"><i class="fa fa-pencil"></i> Comments/Questions</p>
                    <textarea name="comments"></textarea>
                    <br class="clear" />
                    <p><input type="checkbox" value="Disclaimer" id="disclaimer" name="disclaimer"> <label for="Disclaimer">I have read and agree to the following terms: Thorn Law Group is pleased to receive your inquiry regarding our law services. However, an inquiry to Thorn Law Group should not disclose information about a particular matter prompting the inquiry. Please note that an attorney-client relationship, and corresponding confidentiality of information, does not arise until Thorn Law Group has determined that no conflicts of interest exist and has sent a letter of engagement. For your protection, please do not send us confidential information until you speak with one of our attorneys and get authorization to send that information to us.</label></p>
                    <button type="submit" value="" class="submit">Submit</button>
                    <br class="clear" />
                </form>
            </div>
            <br />
            <h2>Let our experience help resolve your tax related issues</h2>
            <p>Contact Kevin Thorn directly to speak with an experienced tax litigation lawyer.&nbsp; Mr. Thorn and the Thorn Law Group&rsquo;s attorneys are committed to helping each client understand the issues and potential consequences they face when defending a case against the Internal Revenue Service, the Department of Justice, the United States Tax Court, the IRS's Office of Professional Responsibility, the IRS's Whistleblower Office as well as the various methods available to resolve their disputes.</p>
            <p>To schedule an appointment to meet or speak with Kevin Thorn and the tax attorneys at Thorn Law Group, please call 202-349-4033 or complete the form below.&nbsp; Your privacy is of utmost importance and any information provided will be held in the strictness of confidence. We will respond to your inquiry within 24 hours.</p>      <!--<div class="contact">
                        <form onsubmit="return checkData(this)" method="post" action="/sendmail.php" id="contactForm" name="contactForm">
                            <input name="name" id="name" type="text" placeholder="Full Name" class="name"><br />
                            <input name="email" id="email" type="text" placeholder="Email" class="email"><br />
                            <input name="phone" id="phone" type="text" placeholder="Phone" class="phone"><br />
                            <input name="checker" id="checker" type="text" placeholder="What is 2 + 2?" class="checker">
                            <textarea name="comments">Comments</textarea>
                            <p><input type="checkbox" value="Disclaimer" id="disclaimer" name="disclaimer"> <label for="Disclaimer">I have read and agree to the following terms: Thorn Law Group is pleased to receive your inquiry regarding our law services. However, an inquiry to Thorn Law Group should not disclose information about a particular matter prompting the inquiry. Please note that an attorney-client relationship, and corresponding confidentiality of information, does not arise until Thorn Law Group has determined that no conflicts of interest exist and has sent a letter of engagement. For your protection, please do not send us confidential information until you speak with one of our attorneys and get authorization to send that information to us.</label></p>
                            <button type="submit" value="" class="submit">Submit</button>
                            <br class="clear" />
                        </form>
            </div>-->
        </div>
        <aside class="sidebar right">
            <div class="details">
                <div class="large-map"><a class="iframe" href="https://maps.google.com/maps?q=888+16th+NW+St+Suite+800+Washington,+DC+20006-4104&amp;hl=en&amp;sll=47.272986,-120.882277&amp;sspn=5.150966,13.392334&amp;t=h&amp;hnear=888+16th+St+NW+%23800,+Washington,+District+of+Columbia+20006&amp;z=16&amp;output=embed">View Larger Map</a></div>
                <h3>Firm Address</h3>
                <p>888 16th Street NW<br /> Suite 800<br /> Washington, DC 20006-4104</p>
                <h3>Firm Numbers</h3>
                <p><strong>(202) 349-4033 Phone</strong><br /><strong> (202) 270-7273 Direct Dial</strong><br /><strong> (202) 355-1399 Fax</strong><br /><strong> Email: <a href="mailto:ket@thornlawgroup.com">ket@thornlawgroup.com</a></strong></p>
                <p>&nbsp;</p>
                <div class="large-map rutherford"><a class="iframe" href="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3019.4735339676286!2d-74.1021102!3d40.817561399999995!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c2f8a1bd1621a3%3A0xf392188cd371ba12!2s301+New+Jersey+17+%23800!5e0!3m2!1sen!2s!4v1398890415520">View Larger Map</a></div>
                <h3>New Jersey Office</h3>
                <p>301 Route 17 North<br /> Suite 800<br /> Rutherford, NJ 07070<br /> Phone: (201) 842-7696</p>
            </div>

            <img src="/images/layout/bg-cta.png" alt="Call Thorn Tax Law" />
        </aside>
        <br class="clear" />
        <a href="#" class="btn-top">Back to the top</a>
    </div>
</div>