<div class="top-background" style="background-image: url("/images/photos/_default.jpg");">
    <ul class="cb-slideshow">
        <li style="display: none;">
            <span>Image 1</span>
            <div class="container caption-4 all-slogan">
                <div class="slogan clearfix slogin-place">
                    <h2>Confidential &amp; Experienced Tax Lawyers</h2>
                    <a href="/contact">Get Help Now: 202-349-4033</a>
                </div>
            </div>
        </li>
        <li style="display: none;">
            <span>Image 2</span>
            <div class="container caption-4 all-slogan">
                <div class="trust">
                    <div class="slogan clearfix slogin-place">
                        <div class="again">
                            <h2>Confidential &amp; Experienced Tax Lawyers</h2>
                            <a href="/contact">Get Help Now: 202-349-4033</a>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li style="display: list-item;">
            <span>Image 3</span>
            <div class="container caption-4 all-slogan">
                <div class="trust">
                    <div class="slogan clearfix slogin-place">
                        <div class="again">
                            <h2>Confidential &amp; Experienced Tax Lawyers</h2>
                            <a href="/contact">Get Help Now: 202-349-4033</a>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li style="display: none;">
            <span>Image 4</span>
            <div class="container caption-4 all-slogan">
                <div class="slogan clearfix slogin-place">
                    <h2>Confidential &amp; Experienced Tax Lawyers</h2>
                    <a href="/contact">Get Help Now: 202-349-4033</a>
                </div>
            </div>
        </li>
        <li style="display: none;">
            <span>Image 5</span>
            <div class="container caption-4 all-slogan">
                <div class="slogan clearfix slogin-place">
                    <h2>Confidential &amp; Experienced Tax Lawyers</h2>
                    <a href="/contact">Get Help Now: 202-349-4033</a>
                </div>
            </div>
        </li>
        <li style="display: none;">
            <span>Image 6</span>
            <div class="container caption-4 all-slogan">
                <div class="slogan clearfix slogin-place">
                    <h2>Confidential &amp; Experienced Tax Lawyers</h2>
                    <a href="/contact">Get Help Now: 202-349-4033</a>
                </div>
            </div>
        </li>
        <li style="display: none;">
            <span>Image 7</span>
            <div class="container caption-4 all-slogan">
                <div class="slogan clearfix slogin-place">
                    <h2>Confidential &amp; Experienced Tax Lawyers</h2>
                    <a href="/contact">Get Help Now: 202-349-4033</a>
                </div>
            </div>
        </li>
    </ul>
</div>
<div class="content group">
    <div class="container group">
        <div class="main left">
            <h1>Solution-Focused Washington DC Tax Attorney</h1>
            <div class="gold-seal"><a class="view" href="/files/thorn-law-group-WSJ.pdf" target="_blank">Read More</a></div>
            <p>Thorn Law Group is a leader in providing tax counsel and legal
            representation to clients throughout the United States and around the
            world. Our firm is home to a team of highly effective, solution-oriented
            tax attorneys. Each Washington DC tax attorney at Thorn Law Group is
            focused on delivering superior tax planning advice and resolving complex
            tax disputes in the most effective and efficient manner.</p>
            <p>The legal professionals at our firm are former IRS tax attorneys.
            This experience gives us a strategic advantage when navigating clients
            through the complex procedures and structures of government agencies and
            allows us to provide unique and invaluable insight into IRS policies
            and procedures. We have advocated in cases that involve business tax
            concerns and international tax issues, such as the reporting policies
            for offshore bank accounts and voluntary disclosures. We have provided
            legal counsel in many cases that include criminal tax investigations and
            general IRS audits and appeals.</p>
            <blockquote>
                <p>Our firm is home to a team of highly effective, solution-oriented tax attorneys.</p>
            </blockquote>
            <p>While we attempt to resolve tax disputes quickly by avoiding the
            litigation process, each tax attorney at our firm is prepared to
            aggressively represent clients in proceedings before the U.S. tax
            agencies and at all stages of the trial and appellate court processes.</p>
            <h2>EXPERIENCED 2014 IRS AMNESTY PROGRAM TAX RESOLUTION FIRM</h2>
            <p>The IRS announced modifications to its legacy 2009, 2011, and 2012
            Offshore Voluntary Disclosure Programs. &nbsp;These changes are designed
            to entice taxpayers living in the U.S. and residing abroad to come
            forward and report their undisclosed foreign accounts and assets to
            avoid costly penalties and/or criminal prosecution.</p>
            <p>Thorn Law Group has helped hundreds of individuals and businesses
            domestic and abroad come back into tax compliance under the IRS Amnesty
            Program.<br><a href="/practices/offshore-bank-accounts/2014-update-irs-amnesty-program/"><br><strong>LEARN MORE ABOUT THE 2014 IRS AMNESTY PROGRAM AND WHAT IT MEANS FOR YOU!</strong></a></p>
            <h2>Strategically Located in Washington DC</h2>
            <p>Thorn Law Group, led by founding tax attorney Kevin E. Thorn, is
            strategically headquartered in Washington DC, home to the major
            government agencies and policy makers responsible for creating and
            enforcing U.S. tax laws.&nbsp; The firm's offices are located near major
            tax offices and courts, giving our legal team direct access to the
            people and processes managing the tax litigation system. We use our
            location to develop key professional relationships that help us navigate
            the complex tax law landscape for the benefit of our clients.</p>
            <p>Mr. Thorn's broad range of clients includes individuals, tax
            professionals, partnerships, trusts, banks, closely-held businesses,
            accounting firms, law firms, and corporations in both national and
            international litigation matters.</p>
            <hr>
        <p><img style="display: block; margin-left: auto; margin-right: auto;" src="{echo CDN}bg-cta-horizontal.png" alt="Call Thorn Tax Law"></p>    </div>

        <aside class="sidebar right">


            <div class="form-practice">
                <h2>Get your CONFIDENTIAL consultation</h2>
                <p>Our experienced tax law team can help.</p>
                <form onsubmit="return checkData(this)" method="post" action="/sendmailmini.php" id="contactForm" name="contactForm">
                    <p class="contlab"><i class="fa fa-user"></i> Name</p>
                    <input name="name" id="name" placeholder="" class="name placeholder" type="text"><br>
                    <p class="contlab"><i class="fa fa-envelope"></i> Email</p>
                    <input name="email" id="email" placeholder="" class="email placeholder" type="text"><br>
                    <p class="contlab"><i class="fa fa-phone"></i> Phone</p>
                    <input name="phone" id="phone" placeholder="" class="phone placeholder" type="text">
                    <p class="contlab"><i class="fa fa-pencil"></i> Comments/Questions</p>
                    <textarea name="comments"></textarea>
                    <br class="clear">
                    <button type="submit" value="" class="submit">Yes, I want a Confidential Consultation</button>
                    <br class="clear">
                </form>
            </div>

            <!-- <div class="gold-seal">
                        <a href="/files/thorn-law-group-WSJ.pdf" target="_blank" class="view">Read More</a>
                        
            </div>-->

            <div class="video bump-down">
                <a href="http://www.youtube.com/embed/gHHnIqDISL0?rel=0&amp;wmode=transparent" class="youtube cboxElement"><span class="play-button"></span><img src="{echo CDN}video-main.jpg" alt="Thorn Law Group Introduction Video"></a><a href="http://www.thorntaxlaw.com/videos/" class="caption">See More Videos</a>
                <br>
                <a href="http://www.thorntaxlaw.com/practices/offshore-bank-accounts/2014-update-irs-amnesty-program/" class="caption irs-amn">READ MORE ABOUT WHAT THE<br>2014 IRS AMNESTY PROGRAM UPDATE<br>MEANS FOR YOU!</a>
            </div>

            <a class="ttlhv youtube cboxElement" href="http://www.youtube.com/embed/Ajy2UWLHBn4?rel=0&amp;wmode=transparent&amp;autoplay=1" target="_blank"><img src="{echo CDN}Video-Interview-Home.jpg" alt="Undisclosed Offshore Account Video"></a>
            <div class="testimonials">
                <a href="/videos/#offshore-accounts" class="view">View More Videos</a>
            </div>
            <br>
            <div class="testimonials">
                <h2>Former Clients Thank Us</h2>
                <p class="note">for resolving their difficult tax issues:</p>
                <p>"When my sister and I found out that our father had left each of
                us money in a Swiss bank account, we were thrilled, but we had no idea
                that we were required to report these accounts and any income from them
                to the IRS."</p>
                <a href="/firm-overview/testimonials" class="view">View More Testimonials</a>
            </div>
            <div class="video">
                <a href="http://www.youtube.com/embed/uV3C9dIg2MI?rel=0&amp;wmode=transparent" class="youtube cboxElement"><span class="play-button"></span><img src="{echo CDN}video-tax-amnesty.jpg" alt="Undisclosed Offshore Accounts Video"></a><a href="/practices/offshore-bank-accounts" class="caption">Offshore Account Disclosures. - Learn more</a>
            </div>

        </aside>
        <br class="clear">
    </div>
    <div class="news-pull">
        <div class="container">
            <div class="third">
                <h2>Latest DC IRS Attorney<br><span class="larger">Blog Posts</span></h2>
                <ul>
                    <li><a href="/blog/the-implications-of-the-swiss-tax-treaty">The Implications of the Swiss Tax Treaty </a></li>
                    <li><a href="blog/zurich-bank-reaches-deal-under-swiss-bank-program-washington-dc-tax-law-firm">Zurich Bank Reaches Deal Under Swiss Bank Program| Washington DC Tax Law Firm</a></li>
                    <li><a href="blog/the-wall-street-journal-features-kevin-e-thorn-as-a-leading-attorney-in-the-dc-metro-area">The Wall Street Journal Features Kevin E. Thorn as a Leading Attorney in the DC Metro Area</a></li>
                </ul>
                <a href="/blog/archive/2015/" class="view">Read More Posts</a>
            </div>
            <div class="third dark">
                <h2>Washington, DC Tax &amp; IRS<br><span class="larger">Hot Topics</span></h2>
                <ul>
                    <li><a href="http://www.thorntaxlaw.com/practices/offshore-bank-accounts/">Offshore Accounts News</a></li>
                    <li><a href="http://www.thorntaxlaw.com/practices/offshore-bank-accounts/2014-update-irs-amnesty-program/">2014 Update IRS Amnesty Program</a></li>
                    <li><a href="http://www.thorntaxlaw.com/practices/business-tax-law/irs-healthcare/">IRS Health Care</a></li>
                    <li><a href="http://www.thorntaxlaw.com/practices/offshore-bank-accounts/foreign-accounts-tax-compliance-act-fatca/">FATCA</a></li>
                    <li>Credit Suisse, UBS, HSBC, RBS, Julius Baer, Bank LEUMI, Switzerland, Singapore, Israel, India, China, Russia</li>
                </ul>
                <a href="http://www.thorntaxlaw.com/practices/offshore-bank-accounts/" class="view">Learn More</a>
                <div class="bottom-angle"></div>
            </div>
            <div class="third last">
                <h2>Latest DC Tax Lawyer<br><span class="larger">News</span></h2>
                <ul>
                    <li><a href="http://www.thorntaxlaw.com/blog/john-doe-summonses-issued-in-tax-evasion-case/">John Doe Summonses Issued in Tax Evasion Case</a></li>
                    <li><a href="http://www.thorntaxlaw.com/blog/offshore-accounts-face-global-tax-evasion-crackdown/">Offshore Accounts Face Global Tax Evasion Crackdown</a></li>
                    <li><a href="http://www.thorntaxlaw.com/blog/israel-bank-faces-tax-evasion-prosecution/">Israel Bank Faces Tax Evasion Prosecution </a></li>
                </ul>
                <a href="http://www.thorntaxlaw.com/contact/" class="view">Get In Touch Now</a>
            </div>
        <br class="clear">    </div>
    </div>
    <div class="video-library">
        <div class="container">
            <div data-id="als-container_0" id="als-container_0" class="als-container">
                <span data-id="als-prev_0" class="als-prev"><i class="icon-caret-left"></i></span>
                <div style="width: 1164px; height: 420px;" id="als-viewport_0" class="als-viewport">
                    <ul style="width: 3104px; height: 420px;" id="als-wrapper_0" class="als-wrapper">
                        <li style="left: 0px;" id="als-item_0_0" itemprop="video" itemscope="" itemtype="http://schema.org/VideoObject" class="als-item"><h2 itemprop="name">Foreign Bank Accounts</h2>
                            <a itemprop="embedURL" href="http://www.youtube.com/embed/QNqDPKro0vI?rel=0&amp;wmode=transparent" class="youtube cboxElement"><span class="play-button"></span><img itemprop="thumbnailURL" src="{echo CDN}images/layout/video-foreign.jpg" alt="Foreign Bank Accounts Video"></a>
                            <p itemprop="description">Thorn Law Group was
                            founded to help both individuals and businesses from across the country
                            and around the globe solve their international tax issues.</p>
                            <a href="/practices/" class="view">Visit Foreign Bank Accounts</a>
                        </li>
                        <li style="left: 0px;" id="als-item_0_1" itemprop="video" itemscope="" itemtype="http://schema.org/VideoObject" class="als-item"><h2 itemprop="name">IRS Voluntary Disclosures</h2>
                            <a itemprop="embedURL" href="http://www.youtube.com/embed/fdXtatXUaos?rel=0&amp;wmode=transparent" class="youtube cboxElement"><span class="play-button"></span><img itemprop="thumbnailURL" src="{echo CDN}images/layout/video-irs.jpg" alt="IRS Voluntary Disclosures Video"></a>
                            <p itemprop="description">On January 9, 2012, the
                            IRS introduced the reopening of its Offshore Voluntary Disclosure
                            Program for undisclosed offshore accounts.</p>
                            <a href="http://www.thorntaxlaw.com/practices/" class="view">Visit IRS Voluntary Disclosures</a>
                        </li>
                        <li style="left: 0px;" id="als-item_0_2" itemprop="video" itemscope="" itemtype="http://schema.org/VideoObject" class="als-item"><h2 itemprop="name">FATCA: Foreign Asset Reporting</h2>
                            <a itemprop="embedURL" href="http://www.youtube.com/embed/LOJ3ZRWORnw?rel=0&amp;wmode=transparent" class="youtube cboxElement"><span class="play-button"></span><img itemprop="thumbnailURL" src="{echo CDN}images/layout/video-fatca.jpg" alt="FATCA: Foreign Asset Reporting Video"></a>
                            <p itemprop="description">The tax world as we know
                            it is changing - both nationally and internationally. Disclosure
                            requirements of foreign assets are becoming more difficult.</p>
                            <a href="http://www.thorntaxlaw.com/practices/" class="view">Visit FATCA: Foreign Asset Reporting</a>
                        </li>
                        <li style="left: 0px;" id="als-item_0_3" itemprop="video" itemscope="" itemtype="http://schema.org/VideoObject" class="als-item"><h2 itemprop="name">Estate Planning/Wealth Management</h2>
                            <a itemprop="embedURL" href="http://www.youtube.com/embed/yan16iVRvdg?rel=0&amp;wmode=transparent" class="youtube cboxElement"><span class="play-button"></span><img itemprop="thumbnailURL" src="{echo CDN}images/layout/video-estate.jpg" alt="Estate Planning/Wealth Management Video"></a>
                            <p itemprop="description">Thorn Law Group and its
                            attorneys have the expertise and knowledge to help with your estate
                            planning and wealth management issues.</p>
                            <a href="http://www.thorntaxlaw.com/practices/" class="view">Visit Estate Planning/Wealth Management</a>
                        </li>
                        <li style="left: 0px;" id="als-item_0_4" itemprop="video" itemscope="" itemtype="http://schema.org/VideoObject" class="als-item"><h2 itemprop="name">IRS Audits &amp; Appeals</h2>
                            <a itemprop="embedURL" href="http://www.youtube.com/embed/W9ALrESjRTc?rel=0&amp;wmode=transparent" class="youtube cboxElement"><span class="play-button"></span><img itemprop="thumbnailURL" src="{echo CDN}images/layout/video-audits.jpg" alt="IRS Audits &amp; Appeals Video"></a>
                            <p itemprop="description">First, we identify the
                            issue. Second, we come up with a plan to attack the audit. Third, we
                            resolve the client's issue successfully.</p>
                            <a href="http://www.thorntaxlaw.com/practices/" class="view">Visit IRS Audits &amp; Appeals</a>
                        </li>
                        <li style="left: 0px;" id="als-item_0_5" itemprop="video" itemscope="" itemtype="http://schema.org/VideoObject" class="als-item"><h2 itemprop="name">Criminal Tax Matters</h2>
                            <a itemprop="embedURL" href="http://www.youtube.com/embed/HuotMNWZcyk?rel=0&amp;wmode=transparent" class="youtube cboxElement"><span class="play-button"></span><img itemprop="thumbnailURL" src="{echo CDN}images/layout/video-criminal.jpg" alt="Criminal Tax Matters Video"></a>
                            <p itemprop="description">The attorneys at Thorn Law Group represent clients in criminal tax investigations across the country and around the globe.</p>
                            <a href="http://www.thorntaxlaw.com/practices/" class="view">Visit Criminal Tax Matters</a>
                        </li>
                        <li style="left: 0px;" id="als-item_0_6" itemprop="video" itemscope="" itemtype="http://schema.org/VideoObject" class="als-item"><h2 itemprop="name">Business Tax Issues</h2>
                            <a itemprop="embedURL" href="http://www.youtube.com/embed/ps3JMvUvxIg?rel=0&amp;wmode=transparent" class="youtube cboxElement"><span class="play-button"></span><img itemprop="thumbnailURL" src="{echo CDN}images/layout/video-business.jpg" alt="Business Tax Issues Video"></a>
                            <p itemprop="description">Many of our clients come
                            to us with serious tax matters before the IRS including payroll, trust
                            fund recovery, and worker classifications type tax issues.</p>
                            <a href="http://www.thorntaxlaw.com/practices/" class="view">Visit Business Tax Issues</a>
                        </li>
                        <li style="left: 0px;" id="als-item_0_7" itemprop="video" itemscope="" itemtype="http://schema.org/VideoObject" class="als-item"><h2 itemprop="name">International Tax Issues</h2>
                            <a itemprop="embedURL" href="http://www.youtube.com/embed/cXUtmH_PJSY?rel=0&amp;wmode=transparent" class="youtube cboxElement"><span class="play-button"></span><img itemprop="thumbnailURL" src="{echo CDN}images/layout/video-international.jpg" alt="International Tax Issues Video"></a>
                            <p itemprop="description">In today's constantly
                            changing world, individuals are forced to deal with complicated tax laws
                            from different countries, facing additional challenges in terms of tax
                            compliance.</p>
                            <a href="http://www.thorntaxlaw.com/practices/" class="view">Visit International Tax Issues</a>
                        </li>
                    </ul>
                </div>
                <span data-id="als-next_0" class="als-next"><i class="icon-caret-right"></i></span>
            </div>    </div>
        </div>
        <div class="cta-mid">
            <h2>You Deserve Confidentiality &amp; Trusted Tax Law Experience</h2>
            <hr>
            <p class="help-num">Get Help Now: <span>202-349-4033</span></p>
        </div>
        <div class="container home">
            <h2>Providing Dispute Resolution Services Across the Globe</h2>
            <div class="left half">
                <p>The Washington D.C. tax lawyers at Thorn Law Group have the
                specialized skills and experience necessary to represent a diverse range
                of clients in the U.S. and around the world. Our clients include
                individual tax payers, businesses, trusts, high-net-worth individuals,
                professional athletes and entertainers, start-up companies and other
                entities operating in the U.S. and abroad. We have counseled clients
                from India, Switzerland, Germany, China and many other countries. Our
                multilingual staff is proficient in Chinese, French, Hindi and English.
                Our firm has established vital relationships with attorneys practicing
                around the globe to help assist our clients with complicated foreign tax
                issues.</p>
            </div>
            <div class="right half">
                <p>With more than 30 years of collective tax law experience, our tax
                attorneys in D.C. have developed a reputation for excellence. Whether
                the challenge is planning a sophisticated business transaction,
                responding to an IRS audit or representing a business or individual in a
                criminal tax investigation, our clients are confident knowing they are
                being represented by professional tax counsel.</p>
                <p>Law firms across the U.S. and abroad turn to the legal professionals
                at Thorn Law Group when confronting complex tax litigation and planning
                issues.</p>
            </div>
            <p>&nbsp;</p>
            <hr>
            <h2>Former D.C. IRS Attorneys Delivering Tax Counsel</h2>
            <p>The experienced Washington D.C. tax lawyers at Thorn Law Group are
            committed to providing high quality, personalized legal representation
            to businesses and individuals in the U.S. and abroad who are dealing
            with complicated and sensitive tax matters. We combine our specialized
            legal knowledge with an extensive understanding of governmental
            processes and procedures to achieve the most expeditious and favorable
            outcome for our clients.</p>
            <div class="practice-section clearfix">
                <h3>Our firm's practice areas include:</h3>
                <ul>
                    <li><a href="http://www.thorntaxlaw.com/practices/business-tax-law/">Business tax law</a></li>
                    <li><a href="http://www.thorntaxlaw.com/practices/international-tax/">international tax</a></li>
                    <li><a href="http://www.thorntaxlaw.com/practices/irs-audits-litigation/">IRS audits and litigation</a></li>
                    <li><a href="http://www.thorntaxlaw.com/practices/criminal-tax-law/">Criminal tax law</a></li>
                    <li><a href="http://www.thorntaxlaw.com/practices/irs-audits-litigation/irs-audits-and-appeals/">IRS audits and appeals</a></li>
                    <li><a href="http://www.thorntaxlaw.com/practices/offshore-bank-accounts/">Offshore bank accounts</a></li>
                    <li><a href="http://www.thorntaxlaw.com/practices/wealth-estate-planning/">Wealth &amp; Estate planning</a></li>
                    <li><a href="http://www.thorntaxlaw.com/practices/offshore-bank-accounts/foreign-accounts-tax-compliance-act-fatca/">International Tax/FATCA</a></li>
                    <li><a href="http://www.thorntaxlaw.com/practices/business-tax-law/irs-healthcare/">IRS Healthcare</a></li>
                    <li><a href="/practices/irs-audits-litigation/irs-whistleblower-actions/">IRS Whistle Blower Office</a></li>
                    <li><a href="/practices/irs-audits-litigation/office-of-professional-responsibility/representation-of-attorneys-before-irs-office-of-professional-responsibility/">IRS Office Of Pro. Responsibility</a></li>
                </ul>
            </div>
            <p>Our team of tax lawyers in Washington D.C. has a proven track record
            of securing prompt and pragmatic results for our clients. Our attorneys
            understand a great deal is at risk when a business or individual is
            facing a serious tax issue. Each D.C. tax lawyer in our office takes the
            time to fully understand a client’s specific situation, goals and
            objectives. Our attorneys work side by side with our clients to identify
            all options and create the most advantageous resolutions possible to
            settle their tax disputes.</p>
            <p>To learn more about our comprehensive tax law services or to discuss
            your tax law needs with an experienced Washington D.C. tax attorney,
            contact our firm for a consultation at (202) 270-7273 or through our <a href="http://www.thorntaxlaw.com/contact/">online contact form</a>.</p>
            <p>&nbsp;</p>
        <p>&nbsp;</p></div><div id="slidebox" class="essence-box">
        <img src="{echo CDN}images/layout/thorntaxlaw-logo.png" alt="Thorn Law Group">
        <h2>Get Trusted Help Now</h2>
        <p>Over 30 years of expertise for your complicated tax law issues.</p>
        <div class="buttons">
            <a class="btn yes" href="http://www.thorntaxlaw.com/contact/">YES <i class="fa fa-check"></i><br>I need confidential help</a>
            <a class="btn close">NO thanks, <i class="fa fa-times"></i><br>I don't need assistance</a>

        </div>
    </div>
    <a href="#" class="btn-top">Back to the top</a>
</div>